body {
    background-color: #EBEBEB;
}

.container_edit {
	margin: 170px 370px;
    background-color: white;
	box-shadow: 0px 0px 15px 5px #B4B4B4
	
}

.logo_text_part2{
	color: orangered;
}

.down_navbar_design {
    background-color: #393939;
	
}

.up_navbar_design {
    background-color: #F8F9FA;
	box-shadow: 0px 0px 20px 1px #B4B4B4
}
.down_navbar_words_design{
	color: #BEBEBE;
}

.up_navbar_words_design{
	color: #000000;
}

.main-background-color {
    background-color: #FF4600;
}

.main-color {
    color: #FF4600;
}

.profile-image-navbar{
	border-radius: 70%;
	width: 70px;
	height: 70px;
}

.favourite-navbar{
	border-radius: 100%;
	width: 50px;
	height: 50px;
}