body {
    background-color: #EBEBEB;
}

.container_edit {
    margin: 100px 450px;
    width: 1000px;
    height: 530px;
    background-color: white;
    box-shadow: 0px 0px 15px 5px #B4B4B4
}

.logo_text_part2 {
    color: orangered;
}

.down_navbar_design {
    background-color: #393939;
}

.up_navbar_design {
    background-color: #F8F9FA;
    box-shadow: 0px 0px 20px 1px #B4B4B4
}

.down_navbar_words_design {
    color: #BEBEBE;
}

.up_navbar_words_design {
    color: #000000;
}

.main-background-color {
    background-color: #FF4600;
}

.main-color {
    color: #FF4600;
}

.profile-image-navbar {
    border-radius: 70%;
    width: 70px;
    height: 70px;
}

.favourite-navbar {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.my-container {
    padding: 50px;
    background-color: #ffffff;
}

label {
    font-weight: bold;
    font-size: 20px;
}

.my-container .box textarea {
    background-color: #EBEBEB;
    border-radius: 10px;
}

.my-container .box textarea::placeholder {
    font-size: 30px;
    font-weight: bold;
    opacity: .7;
}

.my-containerr .box {
    border-radius: 10px;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 15px 15px 30px 20px #EBEBEB;
}

.my-container .box .button {
    text-align: center;
    padding-top: 20px;
}

#ButtonSumbit {
    border-radius: 5px;
    width: 230px;
    height: 60px;
    background-color: #FF4600;
    font-weight: bold;
    font-size: 30px;
}