.container
{
	display: grid;
}
form
{
/*	max-width: 500px;*/
/*	display: grid;*/
/*	justify-self:center;*/
}
form .form-group
{
	justify-self:center;
}
form p{
	padding: 15px 0px;
	text-align: center;
}
form p a{
	color: #FF4600;
	font-weight: bold;
	text-decoration: underline;
}
label
{
	font-weight: bold;
}
.form-group
{
 
}
#buttonSubmit
{
	background-color: #FF4600;
	font-size: 25px;
	border-radius: 7px;
	font-weight: bold;
	letter-spacing: .5px;
}